  .carousel-item img {
            
            max-height: 600px;
        }
     
.carousel-caption #p1 {
            font-family: cursive;
            font-size: 20px;
        }
.carousel-caption #p2 {
            font-family: cursive;
            font-size: 30px;
            background-color: black;
        }
        
.carousel-caption #p3 {
            font-family: cursive;
            font-size: 40px;
            color: black;
            font-weight:bold
        }

.d-flex button{
            margin: 0 7px;
            transform: translateX(-10px);
        }
        
#pnav {
            font-family: cursive;
            font-size: 15px;
            margin: 9px 9px;
        }
        
       
.card {
            
    width: 90%;    
    margin: auto;
    transform: translateY(20px);
      }

.card-img-top {
    width: 100%;
    height: 400px;
     }
        
.card-body {
            text-align: center;
           }


footer {
    margin-top: 20px;
    }

.asside {
    text-align: center;
}


.ctu {
    
    text-align: center;
}

.map {text-align: center;}

#bgimg {
    background-image: linear-gradient(to left, #8d8a52,#d3d300);
}

